body {
    background-color: rgb(42, 146, 194);
    font-family: 'Times New Roman';
}

header {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 25px;
    padding: 0px;
}

main {
    display: block;
    text-align: center;
    align-content: center;
}

.historia h2,
.carta h2 {
    font-size: 35px;
}

.historia p,
.carta p {
    font-size: 25px;
}
